.titles {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Tabs__btn {
    font-size: 18px;
    color: black;

    width: 130px;
    height: 50px;

    background-color: #d6d6d6;

    border: none;
    outline: none;

    transition: all 0.2s;

    cursor: pointer;
}

.Tabs__btn.current {
    background-color: #4149f2 !important;
    color: #fff;
    cursor: default;
}

.Tabs__btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
